/* About */

.about {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(2, 60em);;
  grid-template-rows: repeat(3, 40em);
  place-content: center;
  place-items: start;

  &__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__info {
    align-self: center;
    font-size: 1.5rem;
    justify-self: center;
    width: 70%;

    & p {
      transition: transform 1s, opacity 1s;
    }
  }

  &__icon {
    padding-bottom: 3rem;

    & svg {
      fill: var(--color-secondary);
      height: 6.5rem;
      width: 6.5rem;
    }
  }

  &__header {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.show-right {
  transform: translateX(-10rem);
  opacity: 0;
}

.show-left {
  transform: translateX(10rem);
  opacity: 0;
}

figcaption {
  background-color: var(--color-text-dark);
  color: var(--color-bg-light);  
  font-size: 1.4rem;
  padding: 3px;
  text-align: center;
}

figure {
  height: 100%;
  width: 100%;
}