/* Sections */

.section {
  border-top: 1px solid #ddd;
  padding: 15rem 3rem;
  transition: transform 1s, opacity 1s;

  &--bg-dark {
    background-color: var(--color-bg-dark);
  }

  &__title {
    margin: 0 auto 8rem auto;
    max-width: 90rem;
  }

  &__description {
    color: var(--color-primary);
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  &__header {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.3;
  }

  &--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
}

/* Buttons */

.btn {
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 1.9rem;
  padding: 2rem 4rem;

  &:hover {
    scale: 1.05;
    font-weight: 700;
  }
}

.btn--tab {
  background-color: var(--color-primary);
  border-radius: 10rem;
  color: var(--color-bg-light);
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  min-width: 17rem;
  padding: 1.3rem 6rem;
  transition: all 0.3s;
  margin-right: 2.5rem;
  transform: translateY(-50%);

  &:hover {
    background-color: var(--color-secondary);
  }

  &-active {
    transform: translateY(-80%);
  }
}

/* Utils class */

.highlight {
  position: relative;
  font-weight: 600;

  &::after {
    background-image: var(--gradient);
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    opacity: 0.9;
    transform: scale(1.08, 0.9) skewX(20deg);
    width: 100%;
    z-index: -1;
  }
}