/* Footer */

.footer {
  background-color: var(--color-text-dark);
  padding: 10rem 3rem;

  &__nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 5rem;
  }

  &__item {
    margin-right: 4rem;
  }

  &__link {
    color: var(--color-bg-light);
    font-size: 1.6rem;
    text-decoration: none;
  }

  &__logo {
    display: block;
    fill: var(--color-bg-light);
    height: 5rem;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  &__copyright {
    color: var(--color-bg-light);
    font-size: 1.4rem;
    text-align: center;
  }
}