/* Drop a pin */

.section--map {
  display: flex;
  height: 100vh;
  padding: 1rem;
}

/* Drop a pin -- sidebar*/

.sidebar {
  background-color: var(--color-text-dark);
  display: flex;
  flex-basis: 50rem;
  flex-direction: column;

  &__header {
    align-items: center;
    color: var(--color-bg-dark);
    display: flex;
    justify-content: center;
    padding: 3rem 0;

    &__logo {
      fill: var(--color-bg-dark);
      margin-right: 2rem;
    }
  }
}

/* Drop a pin -- map*/

#map {
  flex: 1;
  height: 100%;
}